Package: de.vincentschweiger.welcomeme
Name: WelcomeMe
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vento
Author: Vento
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
